p {
  margin: 8px;
}

.container {
  background-color: #eeeeee;
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.diagram {
  width: 900px;
  height: 70px;
  display: flex;
  justify-content: center;
  color: rgb(222, 222, 222);
  margin: 10px;
}

.reverse {
  flex-direction: row-reverse;
}

.box-0 {
  background-color: #640000;
  width: 2%;
  height: 100%;
}
.box-1-1 {
  background-color: #641400;
  width: 3%;
  height: 100%;
}
.box-1 {
  background-color: #642800;
  width: 3%;
  height: 100%;
}
.box-2 {
  background-color: #643c00;
  width: 2%;
  height: 100%;
}
.box-3 {
  background-color: #634f00;
  width: 4%;
  height: 100%;
}
.box-5 {
  background-color: #646400;
  width: 6%;
  height: 100%;
}
.box-8 {
  background-color: #637800;
  width: 8%;
  height: 100%;
}
.box-13 {
  background-color: #648c00;
  width: 14%;
  height: 100%;
}
.box-21 {
  background-color: #64a000;
  width: 22%;
  height: 100%;
}
.box-34 {
  background-color: #64b301;
  width: 35%;
  height: 100%;
}
